<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %></title>

    <style>
        body {
            background-color: rgb(44, 45, 65);
            font-family: 'Segoe UI', sans-serif;
        }

        .container {
            margin: 0 auto;
            width: 90%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .image {
            width: 100%;
            min-width: 500px;
            max-width: 500px;
        }

        .image img {
            width: 100%;
        }

        .content {
            width: 100%;
            background-color: rgb(81, 84, 121);
            height: auto;
            color: white;
            height: 750px;
        }

        .content {
            text-align: center;
            font-size: 20px;
        }


        .overview {
            padding: 0 15px 25px 15px;
            max-height: 150px;
            overflow: auto;
        }

        @media only screen and (max-width: 1000px) {
            .container {
                flex-wrap: wrap;
                max-width: 400px;
                height: auto;
            }

            .image {
                min-width: 0;

            }

            .columns {
                flex-wrap: wrap;
                height: auto;
            }

            .content {
                height: auto;
            }

            .overview {
                height: auto;
            }

            .column1,
            .column2 {
                width: 100%;
            }
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="image">
            <% if(movie.poster_path != null) { %>
            <img src="<%= IMGPATH + movie.poster_path %>">
            <% } %>
            <% if(movie.poster_path == null) { %>
            <img src="/images/altPoster.jpg">
            <% } %>
        </div>
        <div class="content">
            <h1><%= movie.title %></h1>
            <p class="overview"><b>Overview:</b>
                <%= movie.overview %>
            </p>
            <div class="columns">
                <div class="column1">
                    <p><b>Genres:</b>
                        <% for(var i=0 ; i<=movie.genres.length-1 ;i++) { %>
                        <%= movie.genres[i].name %>,
                        <% } %>
                    </p>
                    <p><b>Language:</b>
                        <%= movie.original_language %>
                    </p>
                    <p><b>Production countries:</b>
                        <% for(var i=0 ; i<=movie.production_countries.length-1 ;i++) { %>
                        <%= movie.production_countries[i].name %>,
                        <% } %>
                    </p>
                    <p><b>Release date:</b>
                        <%= movie.release_date %>
                    </p>
                    <p><b>Status:</b>
                        <%= movie.status %>
                    </p>
                    <p><b>Vota average:</b>
                        <%= movie.vote_average %>
                    </p>
                    <p><b>Number of votes:</b>
                        <%= movie.vote_count %>
                    </p>
                </div>
                <div class="column2">
                </div>
            </div>
        </div>

</body>

</html>